@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 250, 252;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
  font-family: Arial, Helvetica, sans-serif;
}

.ant-card-cover img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.ant-btn-primary {
  background-color: #1677ff;
}

.ant-card {
  border-radius: 8px;
}

.ant-progress-bg {
  height: 8px !important;
}

.ant-progress-outer {
  margin-top: 8px;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
